In [6]:
# Print() use kerke ham blank line print krba skte h yah ek function h

print()

In [7]:
# Yah double qutosis me likhi value ko as it(same) print krta h
print("String = ")
print("float = ", 4.4)
print("int = " , 3)

String =
float =  4.4
int =  3

## Yah by defalut ek line move ho jata h beacuse eske syntax me '\n' ka use hua h

In [9]:
print("sachin")

sachinFalse

##  print(Obj) Python hmara sabhi ko ek object manta hj

In [10]:
data  = [121,23,23,2.2,'as']
print(data)

[121, 23, 23, 2.2, 'as']

## Sep use

In [12]:
print("Str", 'flaot', 'int' , sep=' ') # yah to default rhta

Str flaot int

In [14]:
print("Str", 'flaot', 'int' , sep='***') # yah to hame kuj bhi likh skte h double quotis me

Str***flaot***int

## End

In [16]:
print("str",'any',end='\n') # by default esme \n he rhtta tabhi ye new line me shift hota
print("Uper se apne aap niche ke  line me shift hua h ")

str any
Uper se apne aap niche ke  line me shift hua h

In [18]:
print("str",'any',end='')
print("Uper se apne aap niche ke  line me shift hua h ")

str anyUper se apne aap niche ke  line me shift hua h

In [19]:
print("str",'any',end='\t') 
print("Uper se apne aap niche ke  line me shift hua h ")

str any	Uper se apne aap niche ke  line me shift hua h

## Multi Object print

In [21]:
a = 10
b = 'Sa'
print(a,b) # by default ye mide me space de deta h
print(a,b,sep=' ')

10 Sa
10Sa

In [24]:
a = 10
b = 'Sa'
print(a,b ,sep='-anything-')

10-anything-Sa

## Variable ke sath

In [25]:
name = 'sachin'
age = 18
print("My name is",name,'and my age is',age)

My name is sachin and my age is 18