# Hm eski help se dict ke inside ek or dict bna skte h basically ookk

# Empty

In [3]:
nested = {
    1:{},
    2:{},
    3:{}
}

nested

{1: {}, 2: {}, 3: {}}

# value ke sath nested dict bnana

In [4]:
nested = {
    1:{1:"Sachin",2:"Rahul"},
    2:{3:"Rao"},
    "ALL":"Any thing"
}

nested

{1: {1: 'Sachin', 2: 'Rahul'}, 2: {3: 'Rao'}, 'ALL': 'Any thing'}

# Accessed

In [5]:
nested["ALL"]

'Any thing'

In [6]:
nested[1][1]

'Sachin'

In [7]:
nested[1][2]

'Rahul'

# Hm modify bhi kr skte h basicalyy

In [8]:
nested = {
    1:{1:"Sachin",2:"Rahul"},
    2:{3:"Rao"},
    "ALL":"Any thing"
}

nested

{1: {1: 'Sachin', 2: 'Rahul'}, 2: {3: 'Rao'}, 'ALL': 'Any thing'}

In [11]:
nested[1][2] = "MOhan"

In [12]:
nested

{1: {1: 'Sachin', 2: 'MOhan'}, 2: {3: 'Rao'}, 'ALL': 'Any thing'}

# Insert Operation Basically?

In [13]:
nested[1]["teacher"] = "DL"

In [14]:
nested

{1: {1: 'Sachin', 2: 'MOhan', 'teacher': 'DL'},
 2: {3: 'Rao'},
 'ALL': 'Any thing'}

# New nested list insert

In [15]:
nested[1][2] = {"Course":"Java" , "Fav":"YEs"}

In [16]:
nested

{1: {1: 'Sachin', 2: {'Course': 'Java', 'Fav': 'YEs'}, 'teacher': 'DL'},
 2: {3: 'Rao'},
 'ALL': 'Any thing'}