# Build In Data Type

## 1 None Data Type

In [1]:
a = None
print(a)

None

In [4]:
type(a)

NoneType

## 2 Number DataType

In [8]:
# Integer data type
i = 10
print(i)
type(i)

10

int

In [9]:
# Floating
f = 24.4
print(f)
type(f)

24.4

float

In [12]:
# Complex Number
com = 5+6j
print(com)
type(com)

(5+6j)

complex

In [16]:
# Boolean By Default True = 1 , False = 0
su = True + True
print(su)
    
type(True)

2

bool

## Sequence DataType

In [1]:
# String is a group a collections of Letter or
str1 = "Sachin"
print(str1)
type(str1)

Sachin

str

In [16]:
# List Is contain the many element is and different type element

data = ['Sachin', 12, 12.2 ,-50]
print(data)
type(data)

# Indexing throw access the element insite the list me se 
print(data[0]) # Front se acces

print(data[-1]) # BAck se acees 


# Modification are Posseible
data[0] = 'Mohan'
data

['Sachin', 12, 12.2, -50]
Sachin
-50

['Mohan', 12, 12.2, -50]

In [23]:
# TUple 
tup = (12, 12.3, -50, "Sachin ")
print(data)
type(tup)


#MOdification Hanmri Possible nhi h
print(data[0])
tup[0] = 3

['yadav', 12, 12.2, -50]
yadav

TypeError: 'tuple' object does not support item assignment

In [33]:
# Range
# range this is a keyword

rg = range(4)
print(rg[0])
print(rg[1])
print(rg[2])
print(rg[3])
type(rg)

0
1
2
3

range

In [29]:
rg = range(1,20, 2)

range(1, 20, 2)

##  Set hamra  {}

In [42]:
# Unorder Hota h And Duplicate value are not allow
data = {10, 120,4, "Sachin",10}
print(data
      
print(type(data))
data[0]

{120, 10, 'Sachin', 4}
<class 'set'>

TypeError: 'set' object is not subscriptable

## Mapping/Dict

In [45]:
dict1  = {1:"Sachin", 2:"Rahul", 3:"Rahul"}
print(dict1)
print(type(dict1))
print(dict1[1])

{1: 'Sachin', 2: 'Rahul', 3: 'Rahul'}
<class 'dict'>
Sachin

In [ ]:
)