In [1]:
from numpy import*

In [2]:
n = int(input("Enter the row: "))
m = int(input("Entert the Number of column: "))


a = zeros((n,m),dtype=int)

Enter the row: 4
Entert the Number of column: 3

In [3]:
a

array([[0, 0, 0],
       [0, 0, 0],
       [0, 0, 0],
       [0, 0, 0]])

In [4]:
i = 0
while i<len(a):
    j = 0
    while j<len(a[i]):
        x = int(input("Enter the Number: "))
        a[i][j]=x
        j+=1
    i+=1

Enter the Number: 2
Enter the Number: 2
Enter the Number: 23
Enter the Number: 4
Enter the Number: 3
Enter the Number: 4
Enter the Number: 5
Enter the Number: 5
Enter the Number: 533
Enter the Number: 3
Enter the Number: 322
Enter the Number: 2

In [5]:
a

array([[  2,   2,  23],
       [  4,   3,   4],
       [  5,   5, 533],
       [  3, 322,   2]])